<!DOCTYPE html>
<html>
<head>
  <title>Huli Landing Page</title>
</head>
<body>
<div id="jumbo">

<%= render 'shared/navbar'%>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Welcome to the Huli landing page!</h1>
	    <p class="lead">Here you can find an overview of the projects and teams at Huli.</p>
	  </div>
	</div>

</div>

<div class="pad">
<h1 id="projects">Projects</h1>

<% @projects.each do |project| %>
<div>
	<%= image_tag project.thumbnail_url.to_s, id: "thumbnail" %>
	<h4><%= project.title %></h4>
	<p><%= project.description %></p>
</div>
<% end %>

<h1 id="teams">Teams</h1>
<% @teams.each do |team| %>
<br/>
<div>
  <h2><%= team.name %></h2>
  <%= image_tag team.image.url, id: "teamimg"%>
  <p>Team Members:</p>
  <ul>
  <% team.apprentices.each do |apprentice| %>
  	<li><div><%= link_to apprentice.name, apprentice.github, id: "github", target: "_blank" %></div></li>
  <% end %>
  </ul>
</div>
<br/>
<% end %>

</div>
</body>
</html>