<!DOCTYPE html>
<html>
<head>
  <title>Huli Landing Page</title>
</head>
<body>

<%= render 'shared/navbar'%>

<h1 id="projects">Projects</h1>
<% @projects.each do |project| %>
    <br/>
    <%= image_tag project.thumbnail_url.to_s, id: "thumbnail" %>
      <h4><%= project.title %></h4>
    <br/>
      <%= project.description %>  
    <br/>
<% end %>
<br/>

<h1 id="teams">Teams</h1>
<% @teams.each do |team| %>
<br/>
  <h4><%= team.name %></h4>
<br/>
<% end %>
</body>
</html>