<!DOCTYPE html>
<html>
<head>
	<title>Huli Landing Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Home', home_index_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Projects', '#projects', class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Teams', '#teams', class: "nav-link"%>
      </li>
    </ul>
  </div>
</nav>

<h1 id="projects">Projects</h1>

<%#= image_tag "https://uploads-ssl.webflow.com/598435743262c800013158eb/598c28e3153f320001974cdf_green_fox_logo_full.svg" %>

<% @projects.each do |project| %>

title: <%= project.title %>

<% end %>

<%= render 'shared/lorem_ipsum' %>
<%= render 'shared/lorem_ipsum' %>
<%= render 'shared/lorem_ipsum' %>

<h1 id="teams">Teams</h1>

<%= render 'shared/lorem_ipsum' %>
<%= render 'shared/lorem_ipsum' %>
<%= render 'shared/lorem_ipsum' %>

</body>
</html>