@model BankOfSimba.Models.BankAccounts
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Simba's bank!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            color: darkorange;
        }

        td, img {
            height: 100px;
            width: 100px;
        }

        html {
            background: url('http://4.bp.blogspot.com/_QdHn8FT7SdY/S-FZOJh0E5I/AAAAAAAAI1Y/gXm85yHPkhk/s1600/lionking1005sm.jpgno-repeat') no-repeat center center fixed;
            background-size: cover;
            color: black;
        }

        table {
            background-color: rgba(0, 0, 0, 0.5);
        }

        h1 {
            color: darkorange;
        }
    </style>
</head>
<body>
    <h1 align="center">Welcome to Simba's bank!</h1>
    <p>
        <table align="center">
            <tr>
                <th>Id:</th>
                <th>Name:</th>
                <th>Balance:</th>
                <th>AnimalType: </th>
                <th>Badguy: </th>
                <th>King: </th>
                <th>Photo: </th>
            </tr>
            @for (int i = 0; i < Model.animals.Count; i++)
            {
                var animal = Model.animals[i];
                string borderStyle = animal.IsKing ? "4px darkorange dotted" : "2px black solid";
                string textColor = animal.IsBadGuy ? "red" : "darkorange";

            <tr>
                <td style="border: @borderStyle; color: @textColor">@i</td>
                <td style="border: @borderStyle; color: @textColor">@animal.Name</td>
                <td style="border: @borderStyle; color: @textColor">@Double.Parse(animal.Balance).ToString("0.00")</td>
                <td style="border: @borderStyle; color: @textColor">@animal.AnimalType</td>
                <td style="border: @borderStyle; color: @textColor">@Convert.ToString(animal.IsBadGuy)</td>
                <td style="border: @borderStyle; color: @textColor">@Convert.ToString(animal.IsKing)</td>
                <td style="border: @borderStyle; color: @textColor"><img src="@animal.ImageURL" /></td>
                <td><button >Press me!</button></td>
            </tr>
            }
        </table>
    </p>
</body>
</html>