<!DOCTYPE html>
<html>
<head>
  <title>Huli Landing Page</title>
</head>
<body>

<%= render 'admin_navbar'%>

<div class="pad">
	
	<%= link_to 'Add New Project', :addproject, class: "btn btn-success btn-lg"%> <br><br>
	<%= link_to 'Add New Team', :addteam, class: "btn btn-success btn-lg"%> <br><br>
	<%= link_to 'Add New Apprentice', :addapprentice, class: "btn btn-success btn-lg"%>
	<br>
	<br>
	<br>
	<h1 id="projects">Projects</h1>
	<br/>
	<br/>
	<% @projects.each do |project| %>
		<div>
			<%= image_tag project.thumbnail_url, id: "thumbnail" %>
			<h4><%= project.title %></h4>
			<%= link_to 'Edit', edit_project_path(project), class: "btn btn-outline-info btn-sm" %>
			<%= button_to "Remove", project_path(project), 
									method: :delete, 
									data: { confirm: "Are you sure you want to remove #{project.title}?" }, 
									class: 'btn btn-outline-danger btn-sm' %>
		</div>
	<% end %>
	
	<br/>
	<br/>
	<h1 id="teams">Teams</h1>
	<br/>
	<br/>

	<% @teams.each do |team| %>
			<div>
			<%= image_tag team.image.url, id: "teamimg-sm"%>
			</div>
			<h2><%= team.name %></h2>
	    <%= link_to 'Edit', edit_team_path(team), class: "btn btn-outline-info btn-sm" %>
	    <%= button_to "Remove", team_path(team), 
	    												method: :delete, 
															data: { confirm: "Are you sure you want to remove #{team.name}?" }, 
															class: 'btn btn-outline-danger btn-sm' %>
			<p>Team Members:</p>
	    <ul>
	    <% team.apprentices.each do |apprentice| %>
	    	<li><%= apprentice.name %></li>
	    	<%= link_to 'Edit', edit_apprentice_path(apprentice), class: "btn btn-outline-info btn-sm" %>
	    	<%= button_to "Remove",apprentice_path(apprentice), 
																method: :delete, 
																data: { confirm: "Are you sure you want to remove #{apprentice.name}?" }, 
																class: 'btn btn-outline-danger btn-sm' %>
	    <% end %>
	    </ul>
	<% end %>

	<br/>
	<br/>
	<h1 id="teams">Apprentices</h1>
	<br/>
	<br/>

	<% @apprentices.order(:name).each do |apprentice| %>
	<ul>
		<li>
			<div>
				Name: <%= apprentice.name %>
			</div>
			<div>
				Github: <%= apprentice.github %>
			</div>
			<div>
				Team: <%= Team.find(apprentice.team_id).name  %>
			</div>
		<%= link_to 'Edit', edit_apprentice_path(apprentice), class: "btn btn-outline-info btn-sm" %>
		<%= button_to "Remove",apprentice_path(apprentice), 
		method: :delete, data: { confirm: "Are you sure you want to remove #{apprentice.name}?" }, 
		class: 'btn btn-outline-danger btn-sm' %>
		</li>
	</ul>
	<% end %>
</div>

</body>
</html>