<!DOCTYPE html>
<html>
<head>
  <title>Huli Landing Page</title>
</head>
<body>

<%= render 'shared/navbar'%>
<%= render 'admin_navbar'%>

<h1 id="projects">Projects</h1>

<% @projects.each do |project| %>
<div class="pad">
	<%= image_tag project.thumbnail_url.to_s, id: "thumbnail" %>
	<h4><%= project.title %></h4>
	<%= button_to 'Remove', 
					project_path(project), 
					method: :delete, 
					data: { confirm: "Are you sure you want to remove #{project.title}?" }, 
					class: 'btn-danger' %>
</div>
<% end %>

<h1 id="teams">Teams</h1>
<% @teams.each do |team| %>
<br/>
  <h4><%= team.name %></h4>
<br/>
<%= button_to 'Remove', 
					team_path(team), 
					method: :delete, 
					data: { confirm: "Are you sure you want to remove #{team.name}?" }, 
					class: 'btn-danger' %>
<% end %>
</body>
</html>